<?xml version='1.0' encoding='utf-8'?>
<widget id="com.clintspoc.poc" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>PocApp</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <content src="index.html" />

    <!-- Serve via http://localhost for our WebView -->
    <preference name="Scheme" value="http" />
    <preference name="Hostname" value="localhost" />

    <!-- Allow talking to our dev/OTA server (POC-wide looseness) -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <allow-navigation href="cdvfile:*" />


    <!-- Android: explicitly allow cleartext HTTP -->
    <platform name="android">
        <edit-config
            file="app/src/main/AndroidManifest.xml"
            mode="merge"
            target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
</widget>
